<header>
  <% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to(current_user.email, edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path) %></li>
      <% else %>
        <li><%= link_to('Register', new_user_registration_path)  %></li>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
    </ul>
  </nav>
  <%= n = notice and content_tag( :div, n, :class => 'notice round' ) %>
  <%= a = alert  and content_tag( :div, a, :class => 'alert round' ) %>
</header>

